<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>home</mat-icon>
    </button>
    <span><a [routerLink]="['/uno']">Registro</a></span>
    <span class="example-spacer"></span>
    <div *ngIf="form.status == 'VALID'"><a [routerLink]="['/two']">Ver mi pedido</a></div>
    <span class="example-spacer"></span>
   
    <button  mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      
    </button>          
  </mat-toolbar>