.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mat-typography{
    background-color: #53429a;
  }

.login-card{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
