<div class="login-card">
    <mat-card  class="example-card">
        <mat-card-header>
          <mat-card-title>Iniciar sesión</mat-card-title>
          <mat-card-subtitle>Ingrese sus credenciales</mat-card-subtitle>         
          </mat-card-header>          
          <mat-card-content>         
            <form class="example-form" [formGroup]="form" novalidate  #f="ngForm">
              <mat-form-field class="example-full-width">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario" placeholder="usuario"  ngModel required>
            </mat-form-field>
            <br>
            <mat-form-field class="example-full-width">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="contrasena" placeholder="Contraseña"  ngModel required>
            </mat-form-field>
            </form>         
          </mat-card-content>
            <mat-card-actions >
              <button mat-raised-button type="submit" (click)="onSubmit($event)" [disabled]="f.invalid">Ingresar</button>        
            </mat-card-actions>

    </mat-card>
</div>


 