<app-header [form]="form"></app-header>

<div class="formulario-1">
    <h1>Información Personal</h1>
    <form class="example-form" [formGroup]="form" novalidate  (ngSubmit)="onSubmit()" #f="ngForm">
        <mat-form-field class="example-full-width">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" placeholder="Nombre"  ngModel required>
        </mat-form-field>
        <br>

        <mat-form-field class="example-full-width">
            <mat-label>Apellido Materno</mat-label>
            <input matInput formControlName="apellidoP" placeholder="Ex. Garcia"  ngModel required>
        </mat-form-field>
       
        <br>
        <mat-form-field class="example-full-width">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="correo" type="email" placeholder="Ex. Rodriguez"  ngModel required>
        </mat-form-field>
      
        <br>
        <mat-form-field appearance="fill">
            <mat-label>Pais</mat-label>
            <mat-select ngModel matInput formControlName="pais" required>
              <mat-option value="{{pais.country}}" *ngFor="let pais of paises">
                  <!-- en el Ng for despues del let es el vaor przonalizado que el usuario asigna, debe ser en signular y el segundo valor despues de of es el arreglo que se recorrera-->
                {{pais.country}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <br>
         <h3>Selecciona tu fecha de Nacimiento</h3>       
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha de reserva</mat-label>
            <input matInput ngModel formControlName="reserva" [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
     
       <br>
        <button type="submit" [disabled]="f.invalid" mat-raised-button color="primary">Cargar Datos</button>
    </form>

</div>


